{% if resume.education.size > 0 %}
<section>
  <div class="npb">
  <h2 id="education" class="h3 hr-bottom">
    {{ strings.resume.education | default:"Education" }}
    <span class="symbol {{ icons.education | default:'icon-library' }}"></span>
  </h2>
  {% for edu in resume.education %}
  <section>
    <header class="{% unless forloop.first %}mt2{% endunless %}">
      <h3 class="h4 faded" {% if edu.endDate.size > 0 %}property="alumniOf" typeof="EducationalOrganization"{% endif %}>
        {% capture study_type %}<span class="bc">{{ edu.studyType }}</span>{% endcapture %}
        {% capture area %}<span class="bc">{{ edu.area }}</span>{% endcapture %}
        {% capture institution %}<span class="bc" {% if edu.endDate.size > 0 %}property="name"{% endif %}>{{ edu.institution }}</span>{% endcapture %}
        {% capture grade %}<span class="bc">{{ edu.grade | markdownify | replace:'<p>','' | replace:'</p>','' }}</span>{% endcapture %}
        {{ strings.resume.education_title
          | default:"<!--study_type--> in <!--area--> from <!--institution--> with GPA of <!--gpa-->"
          | replace:"<!--study_type-->", study_type
          | replace:"<!--area-->", area
          | replace:"<!--institution-->", institution
          | replace:"<!--gpa-->", grade
        }}
      </h3>
      <div class="faded" style="clear: both;">
        {% if edu.startDate.size > 0 %}
        <span class="dates" style="float: left;">
           <span class="icon-calendar" style="font-size: 0.9rem;"> </span>
           {% include components/from-to.html from=edu.startDate to=edu.endDate format=from_to_format %}
         </span>
       {% endif %}
       {% if edu.location.size > 0 %}
       <span class="location" style="float: right;">
           <span class="icon-location2" style="font-size: 0.9rem;"> </span>
          {{ edu.location | default:"" }} 
         </span>
       {% endif %}
       </div>
       <div style="clear: both;margin-bottom: -0.5rem;"></div>
    </header>
    
    {{ edu.extra | markdownify | replace:'<p>','' | replace:'</p>','' }}

    {% if edu.courses.size > 0 %}
    <h4 class="sr-only">{{ strings.resume.courses | default:"Courses" }}</h4>
    <ul>
      {% for course in edu.courses %}
        <li>{{ course }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
  {% if forloop.first %}</div>{% endif %}
  {% endfor %}
</section>
{% endif %}
