{% if resume.publications.size > 0 %}
{% assign publications = resume.publications | sort:"releaseDate" | reverse %}
<section>
  <div class="npb">
  <h2 id="publications" class="h3 hr-bottom">
    {{ strings.resume.publications | default:"Publications" }}
    <span class="symbol {{ icons.publications | default:'icon-book' }}"></span>
  </h2>
  <ol>
  {% for pub in publications %}
  <li>
  <section>
    <header class="{% unless forloop.first %}mt2{% endunless %}">
      <span class="pub-authors">
        {% for author in pub.authors %}
          {{ author }}, 
        {% endfor %}
      </span>
      {% if pub.releaseDate.size > 0 %}
       <span class="faded">
         <time datetime="{{ pub.releaseDate | date_to_xmlschema }}">({{ pub.releaseDate | date:"%Y" }})</time>
       </span>
      {% endif %}
      <span class="faded">
        {% capture name %}{% include components/link.html title=pub.name href=pub.website span_class="bc" %}{% endcapture %}
        {% capture publisher %}<span class="bc">{% if pub.publisher == "None" %} {{ pub.journal }} {% else %} {{ pub.publisher }} {% endif %}</span>{% endcapture %}
        {% capture year %}{{ pub.releaseDate | date:'%Y' }}{% endcapture %}
        {{ strings.resume.publications_title
          | default:"<!--name--> by <!--publisher--> <!--year-->"
          | default:"<!--name--> by <!--publisher-->"
          | replace:"<!--name-->", name
          | replace:"<!--publisher-->", publisher
          | replace:"<!--year-->", year
        }}
      </span>
    </header>

    {% include components/message.html class="note" text=pub.summary alt="" %}
  </section>
  </li>
  {% endfor %}
</ol>
</section>
{% endif %}
