// These styles interact with JavsScript!
// Their ordering MUST NOT be changed. See `_js/cross-fader.js`!

{% assign light_text_color   = include.light_text_color  | default:'#4fb1ba' %}
{% assign dark_text_color    = include.dark_text_color   | default:'#193747' %}

body.light-mode{
  // 0
  .content a:not(.btn) {
    color: {{ light_text_color }};
    border-color: fade-out({{ light_text_color }}, 0.8);
  }


  // 1
  .content a:not(.btn):hover {
    border-color: {{ light_text_color }};
  }

  // 2
  :focus {
    outline-color: {{ light_text_color }}!important;
  }

  // 3
  .btn-primary {
    color: #fff;
    background-color: {{ light_text_color }};
    border-color: {{ light_text_color }};
  }

  // 4
  .btn-primary:focus, .btn-primary.focus, .form-control:focus, .form-control.focus {
    box-shadow: 0 0 0 3px rgba({{ light_text_color }}, .5);
  }

  // 5
  .btn-primary:hover, .btn-primary.hover {
    color: #fff;
    background-color: darken({{ light_text_color }}, 7.5%);
    border-color: darken({{ light_text_color }}, 7.5%);
  }

  // 6
  .btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: {{ light_text_color }};
    border-color: {{ light_text_color }};
  }

  // 7
  .btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: darken({{ light_text_color }}, 7.5%);
    border-color: darken({{ light_text_color }}, 7.5%);
  }

  ::selection {
    color: #fff;
    background: {{ light_text_color }};
  }

  ::-moz-selection {
    color: #fff;
    background: {{ light_text_color }};
  }
}


body.dark-mode{
  // 0
  .content a:not(.btn) {
    color: {{ dark_text_color }};
    border-color: fade-out({{ dark_text_color }}, 0.8);
  }


  // 1
  .content a:not(.btn):hover {
    border-color: {{ dark_text_color }};
  }

  // 2
  :focus {
    outline-color: {{ dark_text_color }}!important;
  }

  // 3
  .btn-primary {
    color: #fff;
    background-color: {{ dark_text_color }};
    border-color: {{ dark_text_color }};
  }

  // 4
  .btn-primary:focus, .btn-primary.focus, .form-control:focus, .form-control.focus {
    box-shadow: 0 0 0 3px rgba({{ dark_text_color }}, .5);
  }

  // 5
  .btn-primary:hover, .btn-primary.hover {
    color: #fff;
    background-color: darken({{ dark_text_color }}, 7.5%);
    border-color: darken({{ dark_text_color }}, 7.5%);
  }

  // 6
  .btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: {{ dark_text_color }};
    border-color: {{ dark_text_color }};
  }

  // 7
  .btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: darken({{ dark_text_color }}, 7.5%);
    border-color: darken({{ dark_text_color }}, 7.5%);
  }

  ::selection {
    color: #fff;
    background: {{ dark_text_color }};
  }

  ::-moz-selection {
    color: #fff;
    background: {{ dark_text_color }};
  }
}
