<!-- <script>
  // This is now implemented in dark-mode-fix.js
  var toggleDarkMode = function(){
    var e = document.body.classList;
    e.contains("dark-mode") || !e.contains("light-mode") && matchMedia("(prefers-color-scheme: dark)").matches ? (e.remove("dark-mode"),
    e.add("light-mode")) : (e.remove("light-mode"),
    e.add("dark-mode"))
  }
  var localTime = new Date();
  if(localTime.getHours() > 18 || localTime.getHours() < 8){
    toggleDarkMode();
  }
</script> -->


<!-- <script type="text/javascript" src="/assets/gabryxx7/js/instafeed.min.js"></script> -->
<script src="/assets/gabryxx7/js/typewriter.js"></script>

<script>

  document.addEventListener('DOMContentLoaded', function(){    
    var app = document.getElementById('typing-window');
  
    var typewriter = new Typewriter(app, {
    loop: false,
    // delay: 75,
    delay: 'natural',
    cursor: '▌'
    });
  
    var typeNextWordInList = function(elements){
    console.log("Typing next word");
    };
  
    typewriter.pasteString("> ").pauseFor(1500).typeString("Hey!").pauseFor(1500).typeString(" I'm <strong>Gabriele</strong>.").pauseFor(1000).pasteString("<br /> > ").typeString(" I'm a...");
  
    var wordList = ["PhD Student 📚", "Programmer 💻", "Photographer 📷", "Pizza Lover 🍕", "Gamer 👾", "Swimmer 🏊","Traveller 🌏"];
    var pause = [1000, 4500];
    for(var k = 0; k < 100; k++){ for(var i=0; i < wordList.length; i++){
      typewriter.typeString(wordList[i]).pauseFor(Math.random() * (pause[1] - pause[0]) +
      pause[0]).deleteChars(wordList[i].length);
      }
    };
    typewriter.start();
  }, false);
    </script>