<!-- <script>
  // This is now implemented in dark-mode-fix.js
  var toggleDarkMode = function(){
    var e = document.body.classList;
    e.contains("dark-mode") || !e.contains("light-mode") && matchMedia("(prefers-color-scheme: dark)").matches ? (e.remove("dark-mode"),
    e.add("light-mode")) : (e.remove("light-mode"),
    e.add("dark-mode"))
  }
  var localTime = new Date();
  if(localTime.getHours() > 18 || localTime.getHours() < 8){
    toggleDarkMode();
  }
</script> -->


<!-- <script type="text/javascript" src="/assets/gabryxx7/js/instafeed.min.js"></script> -->