/*
.highlight,
pre.highlight {
  // background: #fafafa;
  color: #383a42;
}
.highlight pre {
  // background: #fafafa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: 700;
}
.highlight .ow {
  font-weight: 700;
}
.highlight .n,
.highlight .nf,
.highlight .nn,
.highlight .o,
.highlight .p {
  color: #383a42;
}
.highlight .c,
.highlight .c1,
.highlight .cm,
.highlight .cp,
.highlight .cs {
  color: #a0a1a7;
  font-style: italic;
}
.highlight .sr,
.highlight .ss {
  color: #0184bc;
}
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt {
  color: #a626a4;
}
.highlight .l,
.highlight .ld,
.highlight .s,
.highlight .s1,
.highlight .s2,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx {
  color: #50a14f;
}
.highlight .nt,
.highlight .nx,
.highlight .vi {
  color: #e45649;
}
.highlight .il,
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .na {
  color: #986801;
}
.highlight .bp,
.highlight .nb,
.highlight .nc,
.highlight .nd,
.highlight .ne,
.highlight .ni,
.highlight .nl,
.highlight .no,
.highlight .nv,
.highlight .py,
.highlight .vc,
.highlight .vg {
  color: #c18401;
}
// .highlight .err {
//   color: #fff;
//   background-color: #ff1414;
// }
.highlight .gd {
  color: #ff1414;
}
.highlight .gi {
  color: #2db448;
}
.highlight .w {
  color: #f8f8f2;
}
.highlight .cpf {
  color: navy;
}
.highlight .gu {
  color: #75715e;
}
.highlight .lineno {
  color: #9d9d9f;
  user-select: none;
}
.highlight .ln {
  color: #9d9d9f;
  user-select: none;
}
.highlight .ln:after {
  content: " ";
}
.highlight .hll {
  color: #383a42;
  background-color: #e5e5e6;
}
.highlight .hl {
  color: #383a42;
  background-color: #e5e5e6;
}
.highlight .language-json .w + .s2 {
  color: #e45649;
}
.highlight .language-json .kc {
  color: #0184bc;
}

*/



body.dark-mode .highlight,body.dark-mode pre.highlight {
  color: #abb2bf
}

body.dark-mode .highlight .ge {
  font-style: italic
}

body.dark-mode .highlight .gs {
  font-weight: 700
}

body.dark-mode .highlight .ow {
  font-weight: 700
}

body.dark-mode .highlight .n,body.dark-mode .highlight .nf,body.dark-mode .highlight .nn,body.dark-mode .highlight .o,body.dark-mode .highlight .p {
  color: #abb2bf
}

body.dark-mode .highlight .c,body.dark-mode .highlight .c1,body.dark-mode .highlight .cm,body.dark-mode .highlight .cp,body.dark-mode .highlight .cs {
  color: #5c6370;
  font-style: italic
}

body.dark-mode .highlight .sr,body.dark-mode .highlight .ss {
  color: #56b6c2
}

body.dark-mode .highlight .k,body.dark-mode .highlight .kc,body.dark-mode .highlight .kd,body.dark-mode .highlight .kn,body.dark-mode .highlight .kp,body.dark-mode .highlight .kr,body.dark-mode .highlight .kt {
  color: #c678dd
}

body.dark-mode .highlight .l,body.dark-mode .highlight .ld,body.dark-mode .highlight .s,body.dark-mode .highlight .s1,body.dark-mode .highlight .s2,body.dark-mode .highlight .sb,body.dark-mode .highlight .sc,body.dark-mode .highlight .sd,body.dark-mode .highlight .se,body.dark-mode .highlight .sh,body.dark-mode .highlight .si,body.dark-mode .highlight .sx {
  color: #98c379
}

body.dark-mode .highlight .nt,body.dark-mode .highlight .nx,body.dark-mode .highlight .vi {
  color: #e06c75
}

body.dark-mode .highlight .il,body.dark-mode .highlight .m,body.dark-mode .highlight .mf,body.dark-mode .highlight .mh,body.dark-mode .highlight .mi,body.dark-mode .highlight .mo,body.dark-mode .highlight .na {
  color: #d19a66
}

body.dark-mode .highlight .bp,body.dark-mode .highlight .nb,body.dark-mode .highlight .nc,body.dark-mode .highlight .nd,body.dark-mode .highlight .ne,body.dark-mode .highlight .ni,body.dark-mode .highlight .nl,body.dark-mode .highlight .no,body.dark-mode .highlight .nv,body.dark-mode .highlight .py,body.dark-mode .highlight .vc,body.dark-mode .highlight .vg {
  color: #e5c07b
}

body.dark-mode .highlight .gd {
  color: #e05252
}

body.dark-mode .highlight .gi {
  color: #43d08a
}

body.dark-mode .highlight .w {
  color: #f8f8f2
}

body.dark-mode .highlight .cpf {
  color: navy
}

body.dark-mode .highlight .gu {
  color: #75715e
}

body.dark-mode .highlight .lineno {
  color: #636d83;
  user-select: none
}

body.dark-mode .highlight .ln {
  color: #636d83;
  user-select: none
}

body.dark-mode .highlight .ln:after {
  content: " "
}

body.dark-mode .highlight .hll {
  color: #abb2bf;
  background-color: #3a3f4b
}

body.dark-mode .highlight .hl {
  color: #abb2bf;
  background-color: #3a3f4b
}

body.dark-mode .highlight .language-json .w+.s2 {
  color: #e06c75
}

body.dark-mode .highlight .language-json .kc {
  color: #56b6c2
}

@media screen and (prefers-color-scheme: dark) {
  body .highlight,body pre.highlight {
      color: #abb2bf
  }

  body .highlight .ge {
      font-style: italic
  }

  body .highlight .gs {
      font-weight: 700
  }

  body .highlight .ow {
      font-weight: 700
  }

  body .highlight .n,body .highlight .nf,body .highlight .nn,body .highlight .o,body .highlight .p {
      color: #abb2bf
  }

  body .highlight .c,body .highlight .c1,body .highlight .cm,body .highlight .cp,body .highlight .cs {
      color: #5c6370;
      font-style: italic
  }

  body .highlight .sr,body .highlight .ss {
      color: #56b6c2
  }

  body .highlight .k,body .highlight .kc,body .highlight .kd,body .highlight .kn,body .highlight .kp,body .highlight .kr,body .highlight .kt {
      color: #c678dd
  }

  body .highlight .l,body .highlight .ld,body .highlight .s,body .highlight .s1,body .highlight .s2,body .highlight .sb,body .highlight .sc,body .highlight .sd,body .highlight .se,body .highlight .sh,body .highlight .si,body .highlight .sx {
      color: #98c379
  }

  body .highlight .nt,body .highlight .nx,body .highlight .vi {
      color: #e06c75
  }

  body .highlight .il,body .highlight .m,body .highlight .mf,body .highlight .mh,body .highlight .mi,body .highlight .mo,body .highlight .na {
      color: #d19a66
  }

  body .highlight .bp,body .highlight .nb,body .highlight .nc,body .highlight .nd,body .highlight .ne,body .highlight .ni,body .highlight .nl,body .highlight .no,body .highlight .nv,body .highlight .py,body .highlight .vc,body .highlight .vg {
      color: #e5c07b
  }

  body .highlight .gd {
      color: #e05252
  }

  body .highlight .gi {
      color: #43d08a
  }

  body .highlight .w {
      color: #f8f8f2
  }

  body .highlight .cpf {
      color: navy
  }

  body .highlight .gu {
      color: #75715e
  }

  body .highlight .lineno {
      color: #636d83;
      user-select: none
  }

  body .highlight .ln {
      color: #636d83;
      user-select: none
  }

  body .highlight .ln:after {
      content: " "
  }

  body .highlight .hll {
      color: #abb2bf;
      background-color: #3a3f4b
  }

  body .highlight .hl {
      color: #abb2bf;
      background-color: #3a3f4b
  }

  body .highlight .language-json .w+.s2 {
      color: #e06c75
  }

  body .highlight .language-json .kc {
      color: #56b6c2
  }
}