@import "ayu-mirage";
// @import "ayu-light";

pre {
    font-size: 0.8rem;
    background-color: transparent;
}

.gutter.gl{    
    background-color: transparent !important;
}

.highlight>pre {
    text-align: left;
    box-shadow: inset -3px 1px 2px rgba(0, 0, 0, 0.1), inset -9px -4px 14px -7px rgba(0, 0, 0, 0.12), 0 1px 0 rgba(255, 255, 255, 0.04), 0 -1px 0 rgba(0, 0, 0, 0.2);
    border-radius: .4rem;
    //   text-shadow: 1px 1px 1px #3c3c3c11;
    line-height: 1.4;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    padding: 1rem 1rem 1rem 1rem;

    code,
    .code-lines {
        display: inline-block;
    }

    .code-lines {
        transition: max-width 150ms;
        background-color: #71717112;
        padding: 0.3rem;
        font-size: 100%;
        margin-right: 0.5rem;
        margin-left: -0.6rem;
        border-radius: 0.3rem;
        box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.07);        
        color: #848286;
        text-align: right;
    }
}

/* This is for the inline code */
code, .dark-mode code{
    color: rgb(175, 97, 97);
    background-color: #00000024;
    border-radius: 0.3rem;
}
.light-mode code{
    color: #2f2f2f;
    background-color: #6f6f6f24;
    border-radius: 0.3rem;
}

/* IMPORTANT: this is to avoid the inline code styling applying to the blocks */
.highlight code{
    color: unset;
    background-color: unset;
    border-radius: unset;
}


.highlight td pre{
    padding: 1rem;

}

.highlight pre table{
    background-color: transparent;
    margin: 0;
    tbody{
        background-color: transparent;
        tr{
            background-color: transparent;
            td{
                background-color: transparent !important;   
            }
        }
    }
}

.code-extras{
    position: absolute;
    font-family: var(--font-family);
    color: #ccc;
    font-size: 0.9rem;
    right: 0.3rem;
    top: 0.1rem;
    z-index: 2;
    text-align: center;
    line-height: 1;

}
.code-extras span {
    position: relative;
    margin-bottom: 0.3rem;
    content: attr(data-lang);
    display: block;
    background-color: rgba(0,0,0,0.3);
    padding: 0.5rem;
    border-radius: 0.4rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), 0 2px 2px rgba(0,0,0,0.05), 0 4px 4px rgba(0,0,0,0.05), 0 6px 8px rgba(0,0,0,0.05), 0 8px 16px rgba(0,0,0,0.05);
    float: right;
    clear: both;
}

.code-lines-btn{
    transition: all 150ms;
    width: 3rem;
    cursor: pointer;
}

.code-lines-btn.enabled,
.code-lines-btn:hover{
    background-color: rgba(200,200,200,0.7);
    color: #666;
}

.code-lines-btn.enabled{
    box-shadow: inset -2px -2px 5px #2b2b2ba3;
}


figure table::-webkit-scrollbar,pre::-webkit-scrollbar {
    height: 0.3rem;
    background-color: rgba(37, 37, 37, 0.2);
    width: 0;
  }
figure table:hover::-webkit-scrollbar,pre:hover::-webkit-scrollbar {
    height: 0.4rem;
    background-color: rgba(29, 29, 29, 0.233);
    width: 0;
  }

  
  figure table::-webkit-scrollbar-thumb,pre::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #848484;
  }
  
  figure table:hover::-webkit-scrollbar-thumb,pre:hover::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #dddddd;
  }
