.avatar {
  width: 10rem;
  height: 10rem;
}
.sidebar-about>a.sidebar-title>h3 {
  color: #adadad;
  font-size: 1.1rem;
}


.content .aspect-ratio img.wide-img {
  margin: auto;
  width: 100%;
  /* height: 100%; */
  /* object-fit: scale-down; */
  object-position: center;
  background-color: var(--gray-bg);
  vertical-align: middle;
  object-fit: scale-down !important;
}

article.project-card {
  border-radius: .4rem;
}

.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .7rem;
    }

    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .3rem;
    }
  }

  .btn,
  .gumroad-button {
    margin: 1rem 0;
  }
}

// .lead.aspect-ratio.sixteen-nine { 
//   border: 1px solid var(--border-color);
//   transition: border-color 500ms ease;
// }

@import "code-highlight";
@import "typing-window";
@import "photo-gallery";
@import "icomoon-icons";