.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}

#_sidebar {
  p{
    text-align: center;
  }
  h2{
    text-align: center;
  }
  nav{
    text-align: center;
  }
  h2 {
    font-weight: 600;
  }
  .sidebar-about h2 a{
    border-bottom: none;
  }
} 

@media screen and (max-width: 600px) {

}

@media (min-width: 48em) {
  #_menu {
    display: none;
}
  .content {
    padding-top: 2rem;
  }

  .page-title {
    font-weight: bold;
  }
}