
{% assign projects = site.projects | default:site.projects| default:site.posts | reverse %}
{% assign prevYear = 0 %}
{% for project in projects %}
    {% assign year = project.date | date:"%Y" %}
    {% if year != prevYear %}
        {% if prevYear != 0 %}
                </div>
        {% endif %}
        <h2 id="y-{{ year }}">{{ year }} </h2>
        <div class="columns">
    {% endif %}
    <div class="column column-1-2">
        <article class="project-card" vocab="http://schema.org/" typeof="CreativeWork"
            resource="{{ project.url }}">
            <meta property="name" content="{{ project.url }}">
            <meta property="image" content=""> <a href="{{ project.url }}"
                class="no-hover no-print-link flip-project" tabindex="-1">
                <div class="project-card-img img sixteen-nine">
                    {% if project.screenshot %}
                        {% include components/hy-img.html style="display: block;" img=project.screenshot  alt=project.url %}
                    {% else %}
                    <div class="project-icon">
                        <div class="{{ project.icon | default:"icon-cog" }}" style="font-size: 5rem;"></div>
                    </div>
                    {% endif %}
                </div>
            </a>
            <h3 class="project-card-title"> <a href="{{ project.url }}" class="flip-title"
                    property="mainEntityOfPage">{{ project.title }}</a></h3>
            <p class="project-card-text fine" property="disambiguatingDescription"> {{ project.caption }}</p>
        </article>
    </div>
    {% assign prevYear = year %}
{% endfor %}
    </div>
</div>