{% assign sources = '' %}
{% if include.img.src or include.img.path %}
  {% assign srcset = null %}

  {% if include.img.srcset %}
    {% capture srcset %}{% for hash in include.img.srcset %}{% assign tmp = hash[1] %}{% include_cached smart-url url=tmp %} {{ hash[0] }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
  {% endif %}

  {% assign src = include.img.src | default:include.img.path %}
  {% capture sources %}
    src="{% include_cached smart-url url=src %}"
    {% if srcset %}srcset="{{ srcset | strip }}"{% endif %}
    {% if include.sizes %}sizes="{{ include.sizes | replace:' ', '' }}"{% endif %}
  {% endcapture %}
{% else %}
  {% capture sources %}
    src="{% include_cached smart-url url=include.img %}"
  {% endcapture %}
{% endif %}


{% assign img_class = include.img.class | default:"" %}
{% assign include_class = include.class | default:"" %}
{% assign classes = include_class | append:img_class %}

<img
  {{ sources }}
  {% if include.alt %}alt="{{ include.alt }}"{% endif %}
  {% if classes != '' %}class="{{ classes }}"{% endif %}
  {% if include.property %}property="{{ include.property }}"{% endif %}
  {% if include.width %}width="{{ include.width }}"{% endif %}
  {% if include.height %}height="{{ include.height }}"{% endif %}
  {% if include.width and include.height %}loading="lazy"{% endif %}
/>
