---
layout: base
---

<article class="page" role="article">
  <header>
    <h1 class="page-title">{{ page.title }}</h1>
    {% include components/message.html text=page.description hide=page.hide_description %}
  </header>

    {{ content }}

  <hr class="dingbat related" />
  
  {% assign addons = page.addons | default:site.hydejack.post_addons %}
  {% unless addons %}{% assign addons = "about,newsletter,related,random" | split:"," %}{% endunless %}
  {% for addon in addons %}
    {% case addon %}
    {% when 'about' %}
       {% include components/about.html %}
    {% when 'related' %}
      {% include components/related-posts.html post=post %}
    {% else %}
    {% endcase %}
  {% endfor %}


</article>
