{% assign strings = site.data.strings %}
<h2 class="sr-only" hidden>{{ strings.templates | default: "Templates"}}{{ strings.colon | default:":" }}</h2>

{% include templates/animation.html %}
{% include templates/loading.html %}
{% include templates/error.html %}
{% include templates/forward.html %}
{% include templates/back.html %}
{% include templates/permalink.html %}
{% if site.hydejack.cookies_banner %}
  {% include templates/pro/cookies-banner.html %}
{% endif %}
<template id="_dark-mode-template" hidden=""> <button id="_dark-mode" class="nav-btn no-hover fl"> <span class="sr-only">Dark Mode</span> <span class="icon-contrast"></span> </button> </template>
